


<section id="ManagePanel">
        <h2>Admin Panel</h2>
    <canvas id="myCanvas" width="800" height="10" style="border:2px solid #c3c3c3;">
    </canvas>
</section>




<br /><br />
<div class="manage">
    <h2><u>Manage Students:</u></h2>

   
    <div id="logo">
        To Manage all students click on the icon -> 
         <a href="@Url.Action("Index", "Students")">
            <img src="~/images/admin.png" width="40" height="40"   alt="" />
        </a>
    </div>

</div>




<br /><br />
<div class="manage">
    <h2><u>Manage Courses:</u></h2>

    <div id="logo">
        To Manage all courses click on the icon ->
        <a href="@Url.Action("Index", "Courses")">
            <img src="~/images/admin.png" width="40" height="40" alt="" />
        </a>
    </div>
</div>


<br /><br />
<div class="manage">
    <h2><u>Manage Reviews:</u></h2>

    <div id="logo">
       
        To Manage all reviews click on the icon ->
        <a href="@Url.Action("Index", "Reviews")">
            <img  src="~/images/admin.png" width="40" height="40" alt="" />
        </a>
    </div>


</div>


<br /><br />
<div class="manage">
    <h2><u>Manage Rewards:</u></h2>

    <div id="logo">
        To Manage all rewards click on the icon ->
        <a href="@Url.Action("Index", "Rewards")">
            <img src="~/images/admin.png" width="40" height="40" alt="" />
        </a>
    </div>


</div>


<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.fillStyle = "#FF0000";
ctx.fillRect(0,0,1500,777);
</script>


































   
