
@{
    ViewBag.Title = "Contact";
}

<br /><br />
<h2>@ViewBag.Title</h2>
<hr />


<div class="contact">
    <b>Address: </b>
    <br />
    Kogel 67, Holon.
    <br /><br />


    <b>Phone: </b>
    0531234987
    <br />
    <b> Mail :</b>
    asiBela@gmail.com

    <br /><br />

    <b>Sunday-Thursday &nbsp;Friday</b>
    <br />
    09:00-21:00 &nbsp;&nbsp;09:00-15:00
</div>


<br />





<!--Google Maps-->
<div id="googleMap" style="width:1100px;height:400px;">

</div>














