@{
    ViewData["Title"] = "Home Page";
}





<div class="Home">
    <br /><br />
    <div id="HomeHead">
        <h2><b>Teach Me</b></h2>
    </div>
    <br />
    <p id="about">
            Looking for cheap private lessons or want to give private lessons? Why not do both together...<br><br /> We believe a good teacher makes all the difference!
            Good teacher is a teacher who knows how to teach effectively ,efficiently and focus the student patiently and sensitively.
          
            We all know that student's financial life aren't so bright and the studies are difficult.
            So i came up with idea  that will help us with our studies and our pockets.<br /><br />
            <u>So how it works:</u>

            <br /><br>Each student get 400 jubut for start, with the jubut the student can pay for private lessons that others student give.<br />
            The student can get a reward for starts.<br />
            For more details about rewards click on Link to reward below.



        
    </p>
</div>

<div class="col-md-5" align="right">




</div>
<br/><br /><br />
