@{
    ViewData["Title"] = "Teache me in socail newtorks";
}

<!--Facebook script-->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<br /><br />
<div id="Headline">
    <h2>@ViewBag.Title</h2>
</div>
<hr />
<!--Facebook-->
<div class="fb-page" data-href="https://www.facebook.com/TeachMeColman/?fref=ts" data-tabs="timeline" data-width="400" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TeachMeColman/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TeachMeColman/?fref=ts">Teach Me</a></blockquote></div>



<div id="content">
    <aside>
        <section>
            <!--TWITTER-->
            <h3>Twitter</h3>
            <section style="margin-right:10px;">
                <a class="twitter-timeline" href="https://twitter.com/TeachMeOfficail">Tweets by by AsiBelachow</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
        </section>
    </aside>
</div>

<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/teachme-teachme-708045123" data-format="inline">
</script>

