<!DOCTYPE HTML>

<html>
<head>

    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Start/assets/css/main.css" />

    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>

    <!-- Header -->
    <section id="header">
        <img id="transDemo2" src="~/images/icon.png" />
        <header>
            <h1>Teach Me</h1>
            <p>By Asi Belachow</p>
        </header>
        <footer>
            <a href="#banner" class="button style2 scrolly-middle">Continue down</a>
        </footer>


    </section>
    <section id="banner">
        <header>
            <h2>This is Teach Me</h2>
        </header>
        <p>
            A  new way to pay for private lessone.<br />
            Enough beeing <strong>sucker!!!</strong><br />

        </p>
        <footer>

            
        </footer>
    </section>


    <article class="container box style1 left">
        <a href="#" class="image fit"><img src="~/images/Reward/jubot.jpg" alt="" /></a>
        <div class="inner">
            <header>
                <h2>
                    Start earn jubot<br />
                    and get rewards
                </h2>
            </header>
            <p>You can set how much stars you will payed for one hour of teaching .</p>
        </div>
    </article>


    <article id="first" class="container box style1 right">
        <a href="#" class="image fit"><img src="~/images/Reward/movie.jpg" alt="" /></a>
        <div class="inner">
            <header>
                <h2>
                    Our <br />
                    rewards
                </h2>
            </header>
            <p>Double ticket to a movie, Ipad Pro, Asus Laptop and many more.....</p>
        </div>
    </article>
    <article class="container box style3">
        <header>
            <h3>Feel free to join to all students  </h3>
            <p>Its free and you get rewards</p>
        </header>
        <form method="post" action="#">
            <div class="row 50%">
                <div class="12u">
                    <ul class="actions">
                        <a href="/Students/Create">Join</a>
                    </ul>
                </div>
            </div>
        </form>
    </article>
    <section id="footer">
        <ul class="icons">
            <li><a href="https://twitter.com/TeachMeOfficail" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/TeachMeColman/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://il.linkedin.com/in/teachme-teachme-708045123" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
        
    </section>



    <!-- Scripts -->
    <script src="~/Start/assets/js/jquery.min.js"></script>
    <script src="~/Start/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/Start/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/Start/assets/js/skel.min.js"></script>
    <script src="~/Start/assets/js/util.js"></script>

    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Start/assets/js/main.js"></script>


</body>
</html>